@use 'variables' as *;

.form-section {
  max-width: 322px;
  width: 100%;
  margin: 210px 0px 205px 150px;
}

form  {

  div {
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      font-weight: 400;
      color: $secondary-text-color;
    }

    input {
      width: 322px;
      height: 50px;
      border: 1px solid $light-border;
      border-radius: 6px;
      margin-top: 10px;
      padding: 16px 14px;
      color: $primary-text-color;
      background-color: $input-color;
      border-color: $light-border;
    }

    input::placeholder {
      color: $secondary-text-color;
      opacity: 1;
    }
  }
}