@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
  color: $primary-text-color;
}

main {
  min-height: 80vh;
}

.home-container {
  background-color: $background-color;
}

.home-container:nth-child(even) {
  background-color: $background-light;
}

.page-container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: $background-light;
}

%split-page {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    color: pink;
}

%split-page-img {
    width: 50vw;
    height: 886px;
}

%avatar {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

%avatar-small {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}


