@use 'variables' as v;
@use 'mixins' as m;

h1 {
  @include m.typography;
}

h2 {
  @include m.typography(
    $size: 32px,
    $color: inherit
  )
}

h3 {
  @include m.typography(
    $size: 24px,
    $color: inherit
  )
}

h4 {
  @include m.typography(
    $font-family: inherit,
    $size: 16px,
    $color: inherit
  )
}

p {
  @include m.typography(
    inherit, 16px, 300, inherit
  )
}

@mixin p-article {
  font-family: v.$font-body;
  font-weight: 400;
  font-size: 14px;
  color: v.$primary-text-color;
}

.tiny-uppercase-label {
  font-family: v.$font-body;
  text-transform: uppercase;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 8px;
  color: v.$primary-text-color;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.caption {
   @include m.typography(
    inherit, 12px, 400, inherit
  );
  font-style: italic;
}