@use "../common" as *;

header {
    width: 100%;
    background-color: $background-color;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 78px;
    width: 1135px;

    margin: 0 auto;
    padding: 15px 0 14px 0;
    background-color: $background-color;
}

.logo-link {
  width: 155px;
  height: 51px;
  color: $primary-color;
}

.nav-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 266px;
}

.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 44px;
}

.nav-left a, .nav-right a {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: inherit;
}

.nav-right {
  display: flex;
  gap: 58px;
  align-items: center;
}

.icon-messagerie, .icon-book {
  width: 15px;
  height: 13.13px;
  vertical-align: -1px;
  margin-right: 2px;
}