@use '../common/global' as *;
@use '../common/mixins' as m;
@use '../common/variables' as v;
@use '../common/typography' as t;

/* ----- account page seen by owner ----- */

.account-page {
  width: 1135px;
   margin-inline: auto;
  @include m.flex(column, flex-start, flex-start, 32px);

  h1 {
    margin: 170px 0 16px 0;
  }
}

.account {
    display: flex;
    justify-content: space-between;
    gap: 33px;
    width: 100%;
    margin: 0 auto;
    color: pink;
}

.account-header {
  @extend %section-card;
  width: 547px;
  height: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0 96px;

  .account-avatar {
    display: block;
    width: 242px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    border-bottom: 1px solid v.$background-color;


    img {
      display: block;
      width: 135px;
      height: 135px;
      border-radius: 50%;
    }
    .avatar-label {
      @extend %label;
    }
  }

  .account-info {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    .username {
      @include m.typography(
        $size: 24px,
        $color: inherit
      );
      margin-bottom: 5px;
    }

    .membership {
       @include m.typography(
        v.$font-body,
        14px,
        400,
        v.$secondary-text-color
      );
      margin-bottom: 15px;

      span {
        color: v.$secondary-text-color;
      }
    }
      .book-nbr {
        @include t.p-article()
      }
    }
  
}

.account-edit {
  @extend %section-card;
  height: 515px;
  padding: 38px 116px 37px 116px;

  .account-btn {
    width: fit-content;
    align-self: flex-start;
  }
}

.account-book-list {
  @extend %section-card;
  width: 1140px;
  padding-top: 33px;
  margin-bottom: 102px;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      padding-bottom: 8.29px;
      border-bottom: 1px solid #eee;

      th {
        padding: 0 40px 8.29px 16px;
      }
    }
  
    img {
      width: 78px;
      height: 78px;
      object-fit: cover;
    }

    tbody {

      tr {
        
        td {
          max-width: 128px;
          padding: 26px 40px 26px 40px;
          
          @include m.typography(
            v.$font-body, 12px, 400, v.$primary-text-color
          );
          // vertical-align: middle;

          .status {
              display: inline-flex;
              align-items: center;
              justify-content: center;
              border-radius: 29.58px;
              padding: 3.7px 13.31px;
              font: inherit;
              color: #fff;
          }

          .available {
            background-color: v.$success-color;
          }

          .unavailable {
            background-color: v.$error-color;
          }

          .action {
            display:flex;
            flex-direction: row;
            gap: 28px;
            
            p {
              font: inherit;
            }

            .delete {
              text-decoration: underline;
              color: v.$error-color;
            }
          }
        }
      }
    } 

    tr:nth-child(even) {
      width: 100%;
      background-color: v.$background-color;
    }

    .book-list-description {
      @extend %message;
      width: 128px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .add-book {
    @extend %label;
    padding: 30px;
    text-align: right;
  }
}

