@use '../common/global' as *;
@use '../common/typography' as t;
@use '../common/form' as f;

/* ----- Register Login page ----- */

.register-login {
    @extend %split-page;
    img {
        @extend %split-page-img;
    }
}

.register-login-form {
    @extend %form-template;
    margin-top: 32px;
}

.redirect-to {
    margin-top: 40px;
    @include t.p-article();

    a {
        text-decoration: underline;
    }
}
